
DM2122_Week16_Solution/Common/Debug/Common.idb
DM2122_Week16_Solution/Common/Debug/Common.log
DM2122_Week16_Solution/Common/Debug/Common.pdb
DM2122_Week16_Solution/Common/Debug/Common.tlog/CL.command.1.tlog
DM2122_Week16_Solution/Common/Debug/Common.tlog/CL.read.1.tlog
DM2122_Week16_Solution/Common/Debug/Common.tlog/CL.write.1.tlog
DM2122_Week16_Solution/Common/Debug/Common.tlog/Common.lastbuildstate
DM2122_Week16_Solution/Common/Debug/Common.tlog/Lib-link.read.1.tlog
DM2122_Week16_Solution/Common/Debug/Common.tlog/Lib-link.write.1.tlog
DM2122_Week16_Solution/Common/Debug/Common.tlog/Lib.command.1.tlog
DM2122_Week16_Solution/Common/Debug/MatrixStack.obj
DM2122_Week16_Solution/Common/Debug/Mtx44.obj
DM2122_Week16_Solution/Common/Debug/timer.obj
DM2122_Week16_Solution/Common/Debug/Vector3.obj
DM2122_Week16_Solution/Debug/Common.lib
DM2122_Week16_Solution/Debug/Common.pdb
DM2122_Week16_Solution/Debug/DM2122 Prac.exe
DM2122_Week16_Solution/Debug/DM2122 Prac.ilk
DM2122_Week16_Solution/Debug/DM2122 Prac.pdb
DM2122_Week16_Solution/DM2122 Prac/Debug/application.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/Camera.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/Camera2.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.log
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/CL.command.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/CL.read.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/CL.write.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/DM2122 Prac.lastbuildstate
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/link.command.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/link.read.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/DM2122 Prac.tlog/link.write.1.tlog
DM2122_Week16_Solution/DM2122 Prac/Debug/LoadOBJ.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/LoadTGA.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/main.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/Mesh.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/MeshBuilder.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/SceneText.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/shader.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/Utility.obj
DM2122_Week16_Solution/DM2122 Prac/Debug/vc142.idb
DM2122_Week16_Solution/DM2122 Prac/Debug/vc142.pdb
DM2122_Week16_Solution/DM2122 Prac/DM2122 Prac.vcxproj
DM2122_Week16_Solution/DM2122 Prac/DM2122 Prac.vcxproj.filters
DM2122_Week16_Solution/DM2122 Prac/image/.mayaSwatches/pillar.tga_hcm.swatch
DM2122_Week16_Solution/DM2122 Prac/image/floortexture.tga
DM2122_Week16_Solution/DM2122 Prac/image/glass.tga
DM2122_Week16_Solution/DM2122 Prac/image/greenring.zip
DM2122_Week16_Solution/DM2122 Prac/image/pillar.tga
DM2122_Week16_Solution/DM2122 Prac/image/racetrack.tga
DM2122_Week16_Solution/DM2122 Prac/image/silver.tga
DM2122_Week16_Solution/DM2122 Prac/image/space2.tga
DM2122_Week16_Solution/DM2122 Prac/image/space3.tga
DM2122_Week16_Solution/DM2122 Prac/image/walltexture.tga
DM2122_Week16_Solution/DM2122 Prac/image/white.tga
DM2122_Week16_Solution/DM2122 Prac/Obj/190274L_MaWenXi_A2_Car_Texture.png
DM2122_Week16_Solution/DM2122 Prac/Obj/newcar.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/newcar2.mtl
DM2122_Week16_Solution/DM2122 Prac/Obj/newcar2.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/Pedestal.mtl
DM2122_Week16_Solution/DM2122 Prac/Obj/Pedestal.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/racetrack.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/ring.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/top.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/wallFB.obj
DM2122_Week16_Solution/DM2122 Prac/Obj/wallLR.obj
DM2122_Week16_Solution/DM2122 Prac/Source/Camera2.cpp
DM2122_Week16_Solution/DM2122 Prac/Source/Camera2.h
DM2122_Week16_Solution/DM2122 Prac/Source/SceneText.cpp
DM2122_Week16_Solution/DM2122 Prac/Source/SceneText.h
